extends ../../../layouts/admin

block head
  title Accounts / Details

block neck
  link(rel='stylesheet', href='/views/admin/accounts/details.css')

block feet
  script(src='/views/admin/accounts/details.js')

block body
  #header
  div.row
    div.span8
      #details.form-horizontal
      #login.form-horizontal
  #delete.form-horizontal

  script(type='text/template', id='tmpl-header')
    div
      h1
        a(href='/admin/accounts/') Accounts
        |  / <%= name.full %>

  script(type='text/template', id='tmpl-details')
    //- legend Contact Info
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-error
        |<%= err %>
      |<% }); %>
      |<% if (success) { %>
      div.alert.alert-info
        button.close(type='button', data-dismiss='alert') &times;
        | Changes have been saved.
      |<% } %>
    div.control-group(class!='<%= errfor.savedQueries ? "error" : "" %>')
      label.control-label Saved Queries:
      div.controls
        textarea(rows="4", style="width:100%", name='savedQueries', value!='<%= savedQueries %>')
        span.help-inline <%= errfor.savedQueries %>

    div.control-group(class!='<%= errfor.instagramAccounts ? "error" : "" %>')
      label.control-label Instagram Accounts:
      div.controls
        textarea(rows="4", style="width:100%", name='instagramAccounts', value!='<%= instagramAccounts %>')
        span.help-inline <%= errfor.instagramAccounts %>

    div.form-actions
      button.btn.btn-primary.btn-update(type='button') Update

  script(type='text/template', id='tmpl-login')

  script(type='text/template', id='tmpl-delete')

  script(type='text/template', id='data-record') !{data.record}