extends ../layouts/default

block head
  title Drywall.js is Running

block neck
  link(rel='stylesheet', href='/views/index.css')

block body
  div.hero-unit
    h1 #{projectName}
    p.lead
      | SportStream Account System "The Next Generation".
      div
        a.btn.btn-large(href='/signup/') Create an Account
      div.clearfix
