redis:
  host: '127.0.0.1'
  port: 6379

riak:
  host: '127.0.0.1'
  port: '8098'

sessionManager:
  redisSessionCacheEnabled: 0
  dbSessionCacheEnabled: 1
  maxSessionInactivityPeriod: '1 hour'
  expiredSessionsCleanupInterval: '3 min'

# Set the default log level. Log messages below this level will not be displayed.
logLevel: debug

crossDomain:
  allowLocalHost: 1
  allowedHosts:
    - 'ota.sportstream.com:3001'
    - 'sirri.sportstream.com:3001'
    - 'sirri.sportstream.com:3002'
    - 'dev.sportstream.com:3000'
    - 'dev.sportstream.com:3001'
    - 'accounts.sportstream.com:3000'
    - 'staging.sportstream.com'
    - 'app.sportstream.com'
    - 'app.sportstream.com:80'
    - 'epl.sportstream.com'
    - 'stage.epl.sportstream.com:8080'
    - 'premierleague.sportstream.com:3001'
    - '204.236.167.183:3000'
    - '54.201.194.58:3000'
    - 'scbmac.local:3000'
    - 'devaccounts.sportstream.com:3000'
    - 'our.intern.facebook.com'
    - 'kgoenka-mbp:3000'
  allowedOrigins:
    - 'http://ota.sportstream.com:3001'
    - 'http://sirri.sportstream.com:3001'
    - 'http://sirri.sportstream.com:3002'
    - 'http://dev.sportstream.com:3000'
    - 'http://accounts.sportstream.com:3000'
    - 'http://dev.sportstream.com:3001'
    - 'http://staging.sportstream.com'
    - 'http://app.sportstream.com'
    - 'http://app.sportstream.com:80'
    - 'http://epl.sportstream.com'
    - 'http://stage.epl.sportstream.com:8080'
    - 'http://premierleague.sportstream.com:3001'
    - 'http://204.236.167.183:3000'
    - 'http://54.201.194.58:3000'
    - 'http://scbmac.local:3000'
    - 'http://devaccounts.sportstream.com:3000'
    - 'http://localhost:3000'
    - 'http://localhost:3001'
    - 'https://our.intern.facebook.com'
    - 'http://kgoenka-mbp:3000'
  accessControl:
    Access_Control_Allow_Methods: 'GET,PUT,POST,DELETE,OPTIONS'
    Access_Control_Allow_Headers: 'Content-Type, Accept-Encoding, x-app-id, x-authtoken, x-ss-app-version, x-ss-twitter-authtoken, x-ss-twitter-authtoken-secret, X-Requested-With'
    Access_Control_Expose_Headers: 'x-authtoken'
    Access_Control_Max_Age: 2592000

twitterAuth:
  consumerKey: 'uHL6SowhaQh6WrOVSbhtVA'
  consumerSecret: 'LsTKjFPCSEQKGQVmdTPnU1gIGGkEA4PfMMzuGqi4'
  authCallbackUrl: 'http://app.sportstream.com/api/twitter/auth/callback'
  authRedirectUrl: 'http://scbmac.local:3001/webapp/index.html'

facebookAuth:
  consumerKey: '247109212019120'
  consumerSecret: '6ef812a00c5a4f4d0ed0ec48cee2aa6e'

mongoDBConnectURL: 'mongodb://localhost:27017/drywall'
