extends ../../../layouts/admin

block head
  title Users / Details

block feet
  script(src='/views/admin/users/details.js')

block body
  #header
  #identity.form-horizontal
  #roles.form-horizontal
  #social.form-horizontal
  #password.form-horizontal
  #delete.form-horizontal

  -var userData = JSON.parse(data.record)

  script(type='text/template', id='tmpl-header')
    div
      h1
        a(href='/admin/users/') Users
        |  / <%= username %>

  script(type='text/template', id='tmpl-identity')
    legend.col-md-offset-1 Identity
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-error
        button.close(type='button', data-dismiss='alert') &times;
        |<%= err %>
      |<% }); %>
      |<% if (success) { %>
      div.alert.alert-info
        button.close(type='button', data-dismiss='alert') &times;
        | Changes have been saved.
      |<% } %>

    div.form-group
      label.control-label.col-sm-2 Id:
      div.col-sm-5
        input.form-control(type='text', readonly="readonly", name='userId', value!='<%= _id %>')

    //- div.form-group(class!='<%= errfor.isActive ? "error" : "" %>')
    //-   label.control-label.col-sm-2 Is Active:
    //-   div.col-sm-5
    //-     select(name='isActive')
    //-       option(value='yes') yes
    //-       option(value='no') no
    //-     span.help-block <%= errfor.isActive %>

    div.form-group(class!='<%= errfor.username ? "error" : "" %>')
      label.control-label.col-sm-2 Username:
      div.col-sm-5
        input.form-control(type='text', name='username', value!='<%= username %>')
        span.help-block <%= errfor.username %>

    div.form-group(class!='<%= errfor.email ? "error" : "" %>')
      label.control-label.col-sm-2 Email:
      div.col-sm-5
        input.form-control(type='text', name='email', value!='<%= email %>')
        span.help-block <%= errfor.email %>

    div.form-group(class!='<%= errfor.organization ? "error" : "" %>')
      label.control-label.col-sm-2 Organization:
      div.col-sm-5
        input.form-control(type='text', name='organization', value!='<%= organization %>')
        span.help-block <%= errfor.organization %>

    div.form-actions.col-md-offset-2
      button.btn.btn-primary.btn-update(type='button') Update

  script(type='text/template', id='tmpl-social')
    legend.col-md-offset-1 Social Accounts
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-error
        button.close(type='button', data-dismiss='alert') &times;
        |<%= err %>
      |<% }); %>

    if userData.socialAccounts && userData.socialAccounts.facebook
      div.form-group(class!='<%= errfor.facebook ? "error" : "" %>')
        label.control-label.col-sm-2 Facebook:
        div.col-sm-5
          div.input.input-group
            |<% if (facebookId) { %>
            span.uneditable-input.form-control
              |<%= facebookId %>
            //- button.btn.btn-warning.btn-facebook-unlink(type='button') Unlink
            button.btn.btn-facebook-open(type='button') Open
            |<% } %>
          span.help-block <%= errfor.facebook %>

    if userData.socialAccounts.google && userData.socialAccounts.google
      div.form-group(class!='<%= errfor.google ? "error" : "" %>')
        label.control-label.col-sm-2 Google:
        div.col-sm-5
          div.input.input-group
            |<% if (googleId) { %>
            span.uneditable-input.form-control
              |<%= googleId %>
            //- button.btn.btn-warning.btn-google-unlink(type='button') Unlink
            button.btn.btn-google-open(type='button') Open
            |<% } %>
          span.help-block <%= errfor.google %>

    if userData.socialAccounts && userData.socialAccounts.twitter
      div.form-group(class!='<%= errfor.twitter ? "error" : "" %>')
        label.control-label.col-sm-2 Twitter:
        div.col-sm-5
          div.input.input-group
            |<% if (twitterId) { %>
            span.uneditable-input.form-control
              |<%= twitterId %>
            //- button.btn.btn-warning.btn-twitter-unlink(type='button') Unlink
            button.btn.btn-twitter-open(type='button') Open
            |<% } %>
          span.help-block <%= errfor.twitter %>

  script(type='text/template', id='tmpl-accounts')
    legend.col-md-offset-1 Accounts
    div.alerts.col-sm-offset-2
      |<% _.each(errors, function(err) { %>
      div.alert.text-danger
        button.close(type='button', data-dismiss='alert') &times;
        |<%= err %>
      |<% }); %>

    div.form-group(class!='<%= errfor.newAdminId ? "error" : "" %>')
      label.control-label.col-sm-2 Admin:
      .col-md-5
        <% if (accounts && accounts.admin) { %>
        span.uneditable-input.form-control
          <%= accounts.admin.user.id %>
        <% } else { %>
        button.btn.btn-success.btn-admin-link(type='button') Make Admin
        <% } %>
      span.help-block <%= errfor.newAdminId %>

    div.form-group(class!='<%= errfor.newAccountId ? "error" : "" %>')
      label.control-label.col-sm-2 Media Curation:
      div.col-md-5
        div.input.input-group
          |<% if (accounts && accounts.media_curation) { %>
          span.uneditable-input.form-control
            |<%= accounts.media_curation %>
          //- button.btn.btn-warning.btn-account-unlink(type='button') Unlink
          button.btn.btn-account-open(type='button') Open
          |<% } else { %>
          input.form-control(name='newAccountId', type='text', placeholder='enter account id')
          button.btn.btn-success.btn-account-link(type='button') Link
          |<% } %>
        span.help-block <%= errfor.newAccountId %>

  script(type='text/template', id='tmpl-password')
    legend.col-md-offset-1 Set Password
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-error
        button.close(type='button', data-dismiss='alert') &times;
        |<%= err %>
      |<% }); %>
    |<% if (success) { %>
    div.alert.alert-info
      button.close(type='button', data-dismiss='alert') &times;
      | A new password has been set.
    |<% } %>
    div.form-group(class!='<%= errfor.newPassword ? "error" : "" %>')
      label.control-label.col-sm-2 New Password:
      div.col-sm-5
        input.form-control(type='password', name='newPassword', value!='<%= newPassword %>')
        span.help-block <%= errfor.newPassword %>
    div.form-group(class!='<%= errfor.confirm ? "error" : "" %>')
      label.control-label.col-sm-2 Confirm Password:
      div.col-sm-5
        input.form-control(type='password', name='confirm', value!='<%= confirm %>')
        span.help-block <%= errfor.confirm %>
    div.form-actions.col-md-offset-2
      button.btn.btn-primary.btn-password(type='button') Set Password

  script(type='text/template', id='tmpl-delete')
    //- legend.col-md-offset-1 Danger Zone
    //- div.alerts
    //-   |<% _.each(errors, function(err) { %>
    //-   div.alert.alert-error
    //-     button.close(type='button', data-dismiss='alert') &times;
    //-     |<%= err %>
    //-   |<% }); %>
    //- span.badge.badge-important
    //-   | If you do this, it cannot be undone.
    //- |
    //- span.muted
    //-   | You may also create orphaned document relationships too.
    //- div.form-actions.col-md-offset-2
    //-   button.btn.btn-danger.btn-delete(type='button') Delete

  script(type='text/template', id='data-record') !{data.record}
