doctype 5
html
  head
    block head
      title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/vendor/bootstrap-sortable/bootstrap-sortable.css')
    link(rel='stylesheet', href='/layouts/theme.css')
    link(rel='stylesheet', href='/layouts/theme-override.css')
    block neck
  body
    .navbar.navbar-inverse.navbar-fixed-top.
      <div class='navbar-inner'>
        <div class='container'>
          <button data-toggle='collapse' data-target='.navbar-collapse' class='navbar-toggle'>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          <a href='#' class='navbar-brand'>Account System</a>
          <div class='collapse navbar-collapse'>
            <ul class='nav navbar-nav'>
              <li class='users'><a href='/admin/users/'>Users</a></li>
              <li class='events'><a href='/admin/events/'>Events</a></li>
              <li class='partners'><a href='/admin/organizations/'>Partners</a></li>
            </ul>
            <ul class='nav navbar-nav pull-right'>
              <li><a href='/logout/'>Logout</a></li>
            </ul>
          </div>
        </div>
      </div>

    div.page
      div.container
        block body

    div.footer
      div.container
        div.inner
          span.copyright.pull-right
            &#169; #{copyrightYear} #{copyrightName}
          ul.links
            li: a(href='/') Home
            li: a(href='/logout/') Logout
          div.clearfix

    script(src='/vendor/jquery/jquery-1.9.1.min.js')
    script(src='/vendor/underscore/underscore-min.js')
    script(src='/vendor/backbone/backbone-min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='/vendor/moment/moment.min.js')
    script(src='/vendor/bootstrap-sortable/bootstrap-sortable.js')
    script(src='/util/TaskRunner.js')
    script(src='/util/ScriptLoader.js')

    block feet

    script(type='text/template', id='tmpl-_search')
      ul.nav
        li.dropdown.open
          input.search-query(name='_search', type='text', placeholder='search', tab-index='1')
          ul#_search-results-rows.dropdown-menu

    script(type='text/template', id='tmpl-_search-results-row')
      |<% if (type && type == 'header') { %>
      |<%= name %>
      |<% } else { %>
      a(href!='<%= url %>') <%= name %>
      |<% } %>

    script(type='text/template', id='tmpl-_search-results-empty-row')
      li.nav-header no documents matched
    script(src='/layouts/admin/search.js')