doctype 5
html
  head
    block head
      title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/layouts/theme.css')
    link(rel='stylesheet', href='/layouts/theme-override.css')
    block neck
  body

    div.page
      div.container
        block body

    div.footer
      //- div.container
      //-   div.inner
      //-     span.copyright.pull-right
      //-       &#169; #{copyrightYear} #{copyrightName}
      //-     ul.links
      //-       li: a(href='/') Home
      //-       li: a(href='/signup/') Sign Up
      //-     div.clearfix

    div.ajax-spinner
      img(src='/media/ajax-pulse.gif')

    script(src='/vendor/jquery/jquery-1.9.1.min.js')
    script(src='/vendor/underscore/underscore-min.js')
    script(src='/vendor/backbone/backbone-min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    //- script(src='/layouts/utility.js')
    script(src='/util/TaskRunner.js')
    script(src='/util/ScriptLoader.js')

    block feet