extends ../../../layouts/admin

block head
  title Users / Details

block feet
  script(src='/views/admin/twitter/details.js')

block body
  #header
  #identity.form-horizontal

  -var twd = JSON.parse(data.record)

  script(type='text/template', id='tmpl-header')
    div.page-header
      h1
        a(href='/admin/twitter/') Twitter Accounts
        |  / <%= profile.name %>

  script(type='text/template', id='tmpl-identity')
    legend Identity
    div.control-group
      label.control-label Id:
      div.controls
        input(type='text', readonly="readonly", name='id', value!='<%= profile.id %>')

    div.control-group
      label.control-label User Id:
      div.controls
        input(type='text', readonly="readonly", name='userId', value!='<%= userId %>')
        button.btn.btn-user-open(type='button') Open

    div.control-group
      label.control-label Name:
      div.controls
        input(type='text', readonly="readonly", name='name', value!='<%= profile.name %>')

    div.control-group
      label.control-label Screen Name:
      div.controls
        input(type='text', readonly="readonly", name='screen_name', value!='<%= profile.screen_name %>')

    div.control-group
      label.control-label Friends Count:
      div.controls
        input(type='text', readonly="readonly", name='friends_count', value!='<%= profile.friends_count %>')

    div.control-group
      label.control-label Followers Count:
      div.controls
        input(type='text', readonly="readonly", name='followers_count', value!='<%= profile.followers_count %>')

    div.control-group
      label.control-label Created:
      div.controls
        input(type='text', readonly="readonly", name='created_at', value!='<%= profile.created_at %>')

    div.control-group
      label.control-label Verified:
      div.controls
        input(type='text', readonly="readonly", name='verified', value!='<%= profile.verified %>')

    div.control-group
      label.control-label Language:
      div.controls
        input(type='text', readonly="readonly", name='lang', value!='<%= profile.lang %>')

  script(type='text/template', id='data-record') !{data.record}
